*{
	margin: 0%;
	padding: 0%;
}

body{
	background-color: antiquewhite;
}
.header {
	margin: 0.2%;
    width:90%;
	height: 4%;
	background-color:white;
	padding: 1% 5% 6% 5%;
	
	 
}
.header img{
	width: 12%;
	height: 2%;
	float: right;

}
.navigation{
	margin: 0.3%;
	width: 98%;
	border-style:solid; 
	border-color:white; 
	background-color: wheat;
	padding: 1%;

}
.navigation  a 
{
	color:black;
}
.navigation a b:hover{
	background-color: gold;
	cursor: pointer;
	border-radius: 5px;

}
img{
	width:99%;
	height: 80%;
	border-style: solid;
	border-color:white;

}
.pa h1 strong{
	width: 100%;
	color: white;
	background-color: grey;
	border-style: solid;
	border-radius: 10px;

}

.footer {

	text-align: center;
	background-color:black;
	color:white; 
}

/*MOBILE MODE
SIZE:MIN=320PX AND MAX=767PX;*/

@media only screen and (min-width:320px) and (max-width:767px){
	/*.header div{
		flex-direction:column;
}*/

.header div {
	width: 95%;
}
/*TABLET MODE
DESKTOP/LAPTOP:WIDTH=1024PX/*/
@media only screen and (min-width:768px) and (max-width:1023px){
	.header div{
		width: 45%;
	}




